# ========================
# SYSTEM & OS
# ========================
.DS_Store
Thumbs.db
desktop.ini

# ========================
# ZIP / ARCHIVE
# ========================
*.zip
*.rar
*.7z

# ========================
# LOG & CACHE
# ========================
*.log
*.cache
*.tmp

# ========================
# NODE / FRONTEND
# ========================
node_modules/
npm-debug.log*
yarn-error.log*

# ========================
# PHP / LARAVEL
# ========================
vendor/
.env
.env.*
.phpunit.result.cache
storage/*.key

# Laravel storage & cache
/storage/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*

# ========================
# BUILD / DIST
# ========================
dist/
build/
out/

# ========================
# IDE / EDITOR
# ========================
.vscode/*
!.vscode/extensions.json
.idea/
*.iml

# ========================
# WINDOWS EXE
# ========================
*.exe

# Ignore zip & folder luar project
*.zip
../PROJECT-SURATIN-ASABRI/
../PROJECT SURATIN ASABRI.zip
../WEBSITE SURATIN ASABRI/
../laragon/
